In [2]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh

In [17]:
url='https://www.worldometers.info/coronavirus/country/us/'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [18]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15]

In [19]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"#"
2:"USAState"
3:"TotalCases"
4:"NewCases"
5:"TotalDeaths"
6:"NewDeaths"
7:"TotalRecovered"
8:"ActiveCases"
9:"Tot Cases/1M pop"
10:"Deaths/1M pop"
11:"TotalTests"
12:"Tests/
1M pop
"
13:"Population"
14:"Source"
15:"Projections"

In [20]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=15:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [21]:
[len(C) for (title,C) in col]

[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64]

In [22]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [25]:
df.head()

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Source,Projections
0,,USA Total,"18,078,009",,"323,404",,"10,545,445","7,209,160","54,616",977,"232,596,953","702,704",,,
1,1,\nCalifornia,"1,846,398",\n,"\n22,594",,"\n741,319","\n1,082,485","46,730",572,"\n29,112,249","736,791","\n39,512,223",\n[view by county] [1],\n[projections]\n
2,2,\nTexas,"1,586,901",\n,"\n25,910",,"\n1,283,039","\n277,952","54,728",894,"\n14,189,044","489,347","\n28,995,881",\n[view by county] [1] [2] [3],\n[projections]\n
3,3,\nFlorida,"1,193,165",\n,"\n20,484",,"\n701,417","\n471,264","55,554",954,"\n14,518,063","675,959","\n21,477,737",\n[view by county] [1] [2] [3],\n[projections]\n
4,4,\nIllinois,"894,367",\n,"\n16,326",,"\n560,734","\n317,307","70,579","1,288","\n12,356,446","975,112","\n12,671,821",\n[1] [2] [3] [4] [5],\n[projections]\n

In [57]:
for i in df['USAState']:
    p = str(i)
    i = p.strip("\n")

In [58]:
string = "\nHello"
string.strip("\n")

'Hello'

In [59]:
df.head()

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Source,Projections
0,,USA Total,"18,078,009",,"323,404",,"10,545,445","7,209,160","54,616",977,"232,596,953","702,704",,,
1,1,\nCalifornia,"1,846,398",\n,"\n22,594",,"\n741,319","\n1,082,485","46,730",572,"\n29,112,249","736,791","\n39,512,223",\n[view by county] [1],\n[projections]\n
2,2,\nTexas,"1,586,901",\n,"\n25,910",,"\n1,283,039","\n277,952","54,728",894,"\n14,189,044","489,347","\n28,995,881",\n[view by county] [1] [2] [3],\n[projections]\n
3,3,\nFlorida,"1,193,165",\n,"\n20,484",,"\n701,417","\n471,264","55,554",954,"\n14,518,063","675,959","\n21,477,737",\n[view by county] [1] [2] [3],\n[projections]\n
4,4,\nIllinois,"894,367",\n,"\n16,326",,"\n560,734","\n317,307","70,579","1,288","\n12,356,446","975,112","\n12,671,821",\n[1] [2] [3] [4] [5],\n[projections]\n

AttributeError: 'lxml.etree._ElementUnicodeResult' object has no attribute 'astype'